@font-face {
  font-family: upperNavfont;
  src: url(fonts/Futura\ PT\ Heavy.ttf);
}

@font-face {
  font-family: lowerNavfont;
  src: url(fonts/Futura\ Bk\ BT\ Book.ttf);
}

body {
  padding-top: 100px;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* đổi màu các liên kết */
.trans-color {
  color: #fff;
  transition: color 0.1s;
  font-weight: bold;
}

.trans-color:hover {
  color: #bc955c;
}

/* class button  dùng chung */
.button {
  background-color: #bc955c;
  outline-style: none;
  transition: background-color 0.1s;
  border-radius: 8px;
  width: fit-content;
  color: black;
}

.button:hover {
  transform: scale(1.1);
  background-color: #b89068;
}

.hero {
  position: relative;
}
.hero img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.overlay h1 {
  font-size: 2rem;
}
.black-bg {
  background-color: #000;
  color: #fff; 
  }
.image-container {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.image2{
  background-image: url('../images/menu/las\ vegas.jpg');
}
.image4{
  background-image: url('../images/menu/washington.jpg');
}
.image5{
  background-image: url('../images/menu/miami.jpg');
}
.image6{
  background-image: url('../images/menu/atlantic\ city.jpg');
}
.image7{
  background-image: url('../images/menu/foxwood.jpg');
}
.image-text,
.image-subtext {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.5s;
  }
.image-subtext {
  top: 50%;
  }
.image-container:hover .image-text,
.image-container:hover .image-subtext {
  opacity: 1;
  }
.image-text p,
.image-subtext p {
  margin: 0;
  }
.image-container img {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  height: auto; object-fit: cover;
  object-position: center;
}
.footer__menu--left a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}
.footer__menu a {
  display: block;
  margin: 0 0 20px;
  color: #fff;
  text-decoration: none;
}
a {
  color: var(--bs-link-color);
  text-decoration: underline;
}
*, :after, :before {
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  .row .col-12 {
    width: calc(33.3333% - 40px);
  }
}
@media (max-width: 1200px) {
  .row .col-12 {
    width: 100%;
  }
}
footer{
  background-color: #black;

}
.list-unstyled{
  display: flex;    
}
.footer__menu--left a{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
  
}
.footer__menu--right a{
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
}
.footer__end--des{
  text-align: right;
  line-height: 1.5em;

}
.footer__end--des a{
  text-decoration: none;
  color: #fff;
  transform: color 0.1ms;
}
.footer__end--des a:hover{
  color: #daa918;
  text-decoration: underline;
}
